In [1]:
print("Hello there")
print("hello")
print("hello again")

width = 10
height = 200
size = width * height

Hello there
hello
hello again

In [2]:
size

2000

In [3]:
isValid = False
isComplete = False

if(isValid == True and isComplete == True):
   print("It is True!")
   print("This will also be executed as part of the True block")
   print("This too")
else:
   print("It is False!!!")
   print("This will also be executed as part of the False block")
   print("This as well")

It is False!!!
This will also be executed as part of the False block
This as well

In [4]:
print(True and False)

False

In [5]:
isValid = False
isComplete = False

if(isValid == False or isComplete == False):
   print("It is True!")
   print("This will also be executed as part of the True block")
   print("This too")
else:
   print("It is False!!!")
   print("This will also be executed as part of the False block")
   print("This as well")

It is True!
This will also be executed as part of the True block
This too

In [6]:
isValid = False
isComplete = False

if(isValid or isComplete):
   print("It is True!")
   print("This will also be executed as part of the True block")
   print("This too")
else:
   print("It is False!!!")
   print("This will also be executed as part of the False block")
   print("This as well")

It is False!!!
This will also be executed as part of the False block
This as well

In [7]:
isValid = True
isComplete = False

if(isValid):
    print("isValid is True")
else:
    print("isValid is False")
    
if(not isComplete):
    print("isComplete is False")
else:
    print("isComplete is True")

isValid is True
isComplete is False

In [8]:
isComplete

False

In [9]:
status = "Rejected"

# some code here.

if(status == "New"):
    print("This is a new document.")
elif(status == "In Progress"):
    print("Document is WIP.")
elif(status == "In Review"):
    print("Document is being reviewed")
elif(status == "Approved"):
    print("Document is approved")
elif(status == "Rejected"):
    print("Document is rejected")
else:
    print("Invalid Status!!!")

Document is rejected

In [10]:
print(type(1))

<class 'int'>

In [11]:
print(type(2.5))

<class 'float'>

In [12]:
print(type("Hello"))

<class 'str'>

In [13]:
print(type(complex(5,2)))

<class 'complex'>

In [14]:
print( "Hello")

Hello

In [15]:
name = "John"
age = 25
height = 165.5

type(name)
type(age)
type(height)

float

In [16]:
a,b,c = "How", "Are", "You"
print(a,b,c)

How Are You

In [17]:
d = a+b+c    # concatenation.
print(d)

HowAreYou

In [18]:
print(type(d))

<class 'str'>

In [19]:
# while loop
counter = 1  # initialize.
while(counter <= 10):
    print("Counter = ", counter)
    counter = counter + 1   # increment by 1.
    #counter += 1

Counter =  1
Counter =  2
Counter =  3
Counter =  4
Counter =  5
Counter =  6
Counter =  7
Counter =  8
Counter =  9
Counter =  10

In [20]:
while(True):
    print("Enter a number: ")
    number = int(input())
    if(number == 0):
        break
        
    # Use the modulo operator to determine if the number is divisible by 2 (an even number).
    if(number % 2 == 0):
        print("The number is an even number: ", number)
        continue
        
    print("You entered the odd number: ", number)
    
print("This is after the 'while' loop")

Enter a number:

 10

The number is an even number:  10
Enter a number:

 11

You entered the odd number:  11
Enter a number:

 2

The number is an even number:  2
Enter a number:

 0

This is after the 'while' loop

In [21]:
for n in range(5,15):
    print("n = ", n)

n =  5
n =  6
n =  7
n =  8
n =  9
n =  10
n =  11
n =  12
n =  13
n =  14

In [22]:
x,y = 2,3
print(x)
print(y)

2
3

In [23]:
x

2

In [24]:
y

3

In [25]:
x,y = y,x   # swap the numbers.
print(x)
print(y)

3
2

In [26]:
x

3

In [27]:
y

2

In [28]:
a = b = c= d = 25

In [29]:
print(a)
print(b)
print(c)
print(d)

25
25
25
25

In [30]:
def abc(x, y):
    print("Parameters x, y have values: ", x, y)
    
abc(10, 50)

Parameters x, y have values:  10 50

In [31]:
def add(x, y):
    print("Parameters x, y have values: ", x, y)    
    z = x + y
    return z
    
#result = add(10, 50)
#print("result = ", result)
print(add(10,50))
print(add(2,5))

Parameters x, y have values:  10 50
60
Parameters x, y have values:  2 5
7

In [32]:
print(10+50)

60

In [33]:
def fullname(firstname, lastname):
    return lastname + ", " + firstname

print(fullname("Ajay", "Singala"))
print(fullname("John", "Smith"))
print(fullname("hello", "there"))

#print(fullname(10,20))   # error.

Singala, Ajay
Smith, John
there, hello

In [34]:
person = ('John', 32, 123.45)
print(person)

('John', 32, 123.45)

In [35]:
print(person[0])
print(person[1])
print(person[2])

John
32
123.45

In [36]:
person2 = ('John', 32, 123.45, ('555-1234', '555-6789'))

In [37]:
print(person2[0])
print(person2[1])
print(person2[2])
print(person2[3])
print(person2[3][0])
print(person2[3][1])

John
32
123.45
('555-1234', '555-6789')
555-1234
555-6789

In [38]:
print(person2[-1])
print(person2[-2])
print(person2[-3])
print(person2[-4])

print(person2[-1][-1])

('555-1234', '555-6789')
123.45
32
John
555-6789

In [39]:
people = (
('John', 32, 123.45, ('555-1234', '555-6789')), 
('Mary', 33, 456.78, ('555-3324', '555-8889')),
('Joe', 28, 185.78, ('555-1324', '555-0889'))
)

print(people)

(('John', 32, 123.45, ('555-1234', '555-6789')), ('Mary', 33, 456.78, ('555-3324', '555-8889')), ('Joe', 28, 185.78, ('555-1324', '555-0889')))

In [40]:
print(people[0])
print(people[0][0])
print(people[0][3])
print(people[0][3][0])

('John', 32, 123.45, ('555-1234', '555-6789'))
John
('555-1234', '555-6789')
555-1234

In [41]:
f = 10
print(f)

f = 'This is a string'
print(f)

f = (10, 20, 'Hello')
print(f)

10
This is a string
(10, 20, 'Hello')

In [42]:
print("hello" + "there")

name = "ajay"
num = 99

#print(name + num)

print(name + str(num))

hellothere
ajay99

In [43]:
num = 100
print("BEGIN: ", num)

def someF():
    #print("BEFORE: ", num)
    # some processing.
    num = 200
    print("AFTER: ", num)
    
    
someF()
print("END: ", num)

BEGIN:  100
AFTER:  200
END:  100

In [44]:
num = 100
print("BEGIN: ", num)

def someF():
    global num
    #print("BEFORE: ", num)
    # some processing.
    num = 200
    print("AFTER: ", num)
    
    
someF()
print("END: ", num)

BEGIN:  100
AFTER:  200
END:  200

In [45]:
n = 10
m = 20
if(n != m):
    print("not equal")

not equal

In [46]:
isValid = False
if(isValid != True):
    print("isValid is False")
    
if(not isValid):
    print("isValid is False")

isValid is False
isValid is False

In [47]:
x = 10
print(x)
x += 2
print(x)

10
12

In [48]:
x**2

144

In [49]:
a = 2
b = 2
print(a is b)

True

In [50]:
print( a is not b)

False

In [51]:
a = [1,2,3,4]
print(3 in a)
print(5 not in a)

True
True

In [52]:
import random

for i in range(5):
    x = random.random()
    print(x)

0.6705530924105948
0.32166527214193275
0.11236495112479161
0.9819132348338819
0.5309633111622565

In [53]:
random.randint(5,10)

9

In [54]:
random.randint(25,100)

46

In [55]:
numbers = [1,2,5,8,9,21,30]
random.choice(numbers)

8

In [56]:
import math
print(math.pi)
print(math.sqrt(16))

3.141592653589793
4.0

In [57]:
name = "Ajay Singala"
print(name[0])
print(name[5])
print(len(name))
print(name[-2])
print(name[1:8])

A
S
12
l
jay Sin

In [58]:
print(name.upper())
print(name.lower())

AJAY SINGALA
ajay singala

In [59]:
print("Ajay".isalpha())
print(name.isalpha())
print(name.isdigit())

x = "100"
print(x.isdigit())

emptyString = "   "
print(emptyString.isspace())

True
False
False
True
True

In [60]:
print(name.startswith("John"))
print(name)
print(name.find("ing"))
print(x.replace("10", "20"))

False
Ajay Singala
6
200

In [61]:
string = "This is a string used for testing the split() function."
print(string.split(" "))

['This', 'is', 'a', 'string', 'used', 'for', 'testing', 'the', 'split()', 'function.']

In [62]:
data = "123,Ajay,Singala,25,Boston,MA,555-1234"
print(data.split(","))

['123', 'Ajay', 'Singala', '25', 'Boston', 'MA', '555-1234']

In [63]:
name1 = ","
name2 = "JohnSmith"

name3 = name1.join(name2)
print(name3)

names = ["John Smith", "Mary Jane", "Joe Picard"]

name3 = name1.join(names)
print(name3)

J,o,h,n,S,m,i,t,h
John Smith,Mary Jane,Joe Picard

In [64]:
word = "Bananas"
if(word < "Banana"):
    print("Your word is less than Banana")
elif word > "Banana":
    print("Your word is greater than Banana")
else:
    print("Your word is a Banana")

Your word is greater than Banana