In [1]:
x=6

In [4]:
l2=[1,2,3,4]
pivot = 2
less = []
greater = []
for num in l2:
    if num <pivot:
        less.append(num)
    else:
        greater.append(num)
less

[1]

In [5]:
greater

[2, 3, 4]

In [8]:
#pass by object reference
l3 = [0,1,2]
l4 = l3
l3.append(3)
l4

[0, 1, 2, 3]

In [7]:
#pass by object reference, may want to copy instead
l5 = [0,1,2]
l6 = l5.copy()
l5.append(3)
l6

[0, 1, 2]

In [9]:
#same for functions
def append_element(some_list,element):
    some_list.append(element)
    

data = [1,2,3]
append_element(data,4)
data

[1, 2, 3, 4]

In [10]:
s='python'
list(s)
#string is list of unicode characters

['p', 'y', 't', 'h', 'o', 'n']

In [14]:
#backslash is escape
s = "12\\34"
print(s)

12\34

In [17]:
# raw strings
s = r'this\has\no\special\characters'
print(s)

this\has\no\special\characters

In [ ]:
s = 'thisas\nopecialharacters'
print(s)
#\n is special character need to escape

thisas
opecialharacters

In [22]:
#string templates
template = '{0:.2f}{1:s} are worth US ${2:d}'
template.format(4.5560,' Argentine Pesos',1)

'4.56 Argentine Pesos are worth US $1'

In [23]:
from datetime import datetime, date, time
dt = datetime(2022,1,27,20,35,15)
dt.day

27

In [24]:
dt.minute # minute of dt object

35

In [25]:
#for just date
dt.date()

datetime.date(2022, 1, 27)

In [26]:
#for just time
dt.time()

datetime.time(20, 35, 15)

In [27]:
type(dt.time())

datetime.time

In [31]:
dt.strftime('%m/%d/%Y %H:%M')

'01/27/2022 20:35'

In [33]:
#convert string to datetime object
datetime.strptime('20220214','%Y%m%d')

datetime.datetime(2022, 2, 14, 0, 0)