In [22]:
list_string = ['b','is','cat','far','love','python']
string_lengths = [len(x) for x in list_string]
string_lengths

[1, 2, 3, 3, 4, 6]

In [23]:
#equivalent result
list(map(len, list_string))

[1, 2, 3, 3, 4, 6]

In [24]:
all_data = [['John','Amelie','Michael','Mary','Steven'],['Maria','Juan','Javier','Natalia','Pilar']]
#if we want a single list containeing all names with two or more e's in them use a for loop
names_of_interest=[]
for names in all_data:
    enough_es=[name for name in names if name.count('e')>=2]
    names_of_interest.extend(enough_es)

names_of_interest

['Amelie', 'Steven']

In [25]:
# we could use two list comprehensions instead of a for loop for the outer list above
flattened = [ x for List in all_data for x in List]
flattened

['John',
 'Amelie',
 'Michael',
 'Mary',
 'Steven',
 'Maria',
 'Juan',
 'Javier',
 'Natalia',
 'Pilar']

In [26]:
# now follow same logic as above but add filter condition
result = [ x for List in all_data for x in List if x.count('e')>=2]
result

['Amelie', 'Steven']

In [27]:
# or to flattened, thank you Ryan
sum(all_data, [])

['John',
 'Amelie',
 'Michael',
 'Mary',
 'Steven',
 'Maria',
 'Juan',
 'Javier',
 'Natalia',
 'Pilar']

In [28]:
# flatten and filter names with two or more 'e' characters
list(filter(lambda x: x.count('e') >= 2, sum(all_data, [])))

['Amelie', 'Steven']

In [33]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
#what if we want a list of lists and not a list of tuples
[[x for x in tup] for tup in some_tuples ]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
[list(tup) for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]